/* 
    name        : Amitasker
    description : bootstrap responsive html5 template for marketing agency
    author      : @hasanmisbah
    authorURI   : https://hasanmisbah.github.io/
    Lisence     : MIT

*/


/* 
############################################# content #############################################


*/
$text-white : #f3f3f3;
$primary-text : #1abba3;
$secondary-color : #45407f;
$effect : #f39c12;
$blurple : #192a56;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &::before, &::after{
        box-sizing: inherit;
    }
}
html, body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}
header,main,footer,section{
    width: 100%;
}

/* navigation */
#header{

    #main-nav{
        text-transform: uppercase;
        font-weight: 700;
        font-size: .9rem;
        letter-spacing: .1rem;
        background-color: rgba(0, 0, 0, .1) !important; 
        .navbar-brand{
            img{
                height: 2rem;
            }
        }
        &.sticky{
            background-color: rgba(0, 0, 0, 9) !important;
        }   
    }

    .navbar-dark{
        .navbar-nav{
            li{
                padding-right: .7rem;
            }
            .nav-item{
                .nav-link{
                    color: $text-white !important;
                    padding-top: .8rem;
                    &.active,
                    &:hover{
                        color: $primary-text !important;
                    }
                }
            }
        }
    }
}

%btn-ami {
    background-color: $primary-text;
    padding: 10px 25px;
    border-color: transparent;
    outline-color: transparent;
    text-transform: uppercase;
    letter-spacing: .1rem;
    &:hover{
        background-color: darken($color: $primary-text, $amount: 9);
    }
}

%social-nav{
    .social-nav{
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline;
        li{
            display: inline-block;
            a{
                display: block;
                padding: 5px;
                i{
                    padding: 8px;
                    border-radius: 50%;
                    background-color: $secondary-color;
                    color: $text-white;
                    width: 36px;
                    height: 36px;
                    display: block;
                    font-size: 18px;
                    line-height: 18px;
                    text-align: center;
                    border: 1px solid transparent;
                    transition: all .3s ease;
                    &:hover{
                        background-color: #ffffff;
                        color: $secondary-color;
                        border-color: $secondary-color;
                    }
                }
            }
        }
    }
}

section#home{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url("../assets/img/virtual-assistant.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 2;
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, .9);
    }
    .home-content{
        padding-top: 150px;
        color: $text-white;
        .hero-text{
            padding-top: 50px;
        }
        h1{
            font-size: 50px;
            line-height: 65px;
            font-weight: 700;
        }
        .btn-ami{
            @extend %btn-ami;
        }
    }
}
.section-heading{
    padding-bottom: 20px;
    h2{
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        z-index: 2;
        &:before, &:after{
            content: "";
            position: absolute;
            left: 50%;
            height: 3px;
            transform: translateX(-50%);
            bottom: -10px;
        }
        &:before{
            background-color: $primary-text;
            width: 30px;
        }
        &:after{
            background-color: $secondary-color;
            z-index: -1;
            width: 100px;
        }
    }
}
#about{
    padding: 50px 0 0 0;
    #company-stats{
        background-color: $secondary-color;
        padding: 20px 0;
        color: $text-white;
        .lead{
            font-weight: 700;
        }
        .single-stats{
            span{
                display: block;
                margin-bottom: 15px;
                font-size: 50px;
                line-height: 55px;
                font-weight: 700;
            }
            p{
                font-size: 25px;
                line-height: 26px;
            }
        }
    }
    .social{
        @extend %social-nav;
    }
}

section#services{
    padding: 50px 0 0 0;
    background-image: url("../assets/img/services-bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    &:after{
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgba($color: #ffffff , $alpha: 0.9);
        z-index: -1;
    }
    .single-service{
        text-align: center;
        .service-title{
            padding: 10px 0;
            font-size: 22px;
            color: $secondary-color;
        }
        i{
            display: inline-block;
            width: 64px;
            height: 64px;
            border: 1px solid $secondary-color;
            color: $secondary-color;
            padding: 16px;
            border-radius: 50%;
            font-size: 32px;
            line-height: 32px;
            text-align: center;
        }
    }
    #services-bottom{
        padding: 50px 0;
        background-color: rgba($blurple, $alpha: 0.8);

        .section-heading{
            color: $text-white;
        }
        .single-service-details{
            color: $text-white;
            text-align: center;
            padding: 20px;
            display: block;
            box-shadow: 0 0 10px 0 rgba($primary-text , $alpha: 0.8);
            border-radius: 8px;
            position: relative;
            overflow: hidden;

            &:before, &:after{
                position: absolute;
                content: "";
                width: 100%;
                height: 2px ;
                border-radius: 8px;
            }

            &:before{
                border-bottom: 3px solid transparent;
                border-left: 3px solid transparent;
                left: 0;
                bottom: 0;
                transform: translateX(100%);
                
            }
            &:after{
                border-top: 3px solid transparent;
                border-right: 3px solid transparent;
                right: 0;
                top: 0;
                transform: translateX(-100%);
            }
            &:hover{
                &:before{
                    height: 100%;
                    border-color: $primary-text;
                    transform: translateX(0);
                    transition: .2s transform linear, .2s height linear .2s;
                }
                &:after{
                    height: 100%;
                    border-color: $primary-text;
                    transform: translateX(0);
                    transition: .2s transform linear, .2s height linear .2s;
                }
            }

            span{
                font-size: 50px;
                display: inline-block;
                text-rendering: auto;
            }
            h4{
                padding: 10px 0;
                font-size: 25px;
            }
        }
    }
}
#packages{
    padding: 50px 0 0 0;
    .single-package{
        padding: 25px 15px;
        text-align: center;
        box-shadow: 0 0 8px rgba($primary-text, $alpha: 0.1);
        border: .5px dotted rgba($primary-text, $alpha: 0.1);
        transition: all .3s ease;
        position: relative;
        border-top: 3px solid $primary-text;
        margin-bottom: 30px;
        h2.package-title{
            color: $blurple;
            font-weight: 700;
            padding: 10px;
            border: 1px solid $primary-text;
            border-radius: 5px;
            display: inline-block;
            font-size: 22px;
            font-weight: 300;
        }
        span{
            padding: 20px 0 40px 0;
            display: block;
            color: $secondary-color;
            font-size: 15px;
            position: relative;
            &:after{
                position: absolute;
                content: "";
                background-color: $primary-text;
                height: 1px;
                width: 100%;
                left: 0;
                bottom: 20px;
            }
        }
        .package-item{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                padding: 8px 0;
                text-transform: initial;
                color: #637282;
                font-size: 18px;
            }
        }
        .btn-ami{
            margin: 20px 0 15px 0;
            @extend %btn-ami;
        }
        &:hover{
            transform: translate3d(0, -15px, 0);
            box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, .05);
            h2.package-title{
                background-color: $primary-text;
                color: $text-white;
            }
        }
    }
    #cta-package{
        background-color: $secondary-color;
        padding: 20px 0;
        color: $text-white;
        text-align: center;
        .btn-ami{
            @extend %btn-ami;
            display: block;
            width: 100%;
            padding: 15px 0;
        }
    }
}
section#team{
    padding: 50px 0;
    background-image: url("../assets/img/team-bg-.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: relative;
    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        left: 0;
        top: 0;
    }
    .skillbar{
        height: 34px;
        padding: 0 10px;
        .title{
            height: 100%;
        }
    }

    // 
    .skills {
        clear: both;
        width: 100%;
        ul {
          display: block;
          list-style: none;
          margin: 0;
          padding: 0;
        }
        li {
          display: inline-block;
          list-style: none;
          clear: both;
          padding: 10px 15px;
          color: #fff;
          margin-bottom: 1px;
          font-size: 18px;
          text-align: center;
        }
        .seo {
          background: #0097aa;
        }
        .smm {
          background: #d32c2c;
        }
        .web {
          background: #00a9ec;
        }
        .gfx {
          background: #f58d00;
        }
      }
      
    .get {
    display: none;
    }
      
    .team-member {
        padding: 30px 0 40px;
        margin-bottom: 30px;
        background-color: $text-white;
        text-align: center;
        overflow: hidden;
        position: relative;
        border-top: 3px solid $primary-text;
        border-bottom: 3px solid $primary-text;
        box-shadow: 0 0 5px rgba($primary-text, $alpha: 0.5);
        transition: all 0.3s linear 0s;

        &:hover {
            transform: translate3d(0, -15px, 0);
            box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, .05);
            border-bottom-color: $blurple;
            border-top-color: $blurple;
            .picture {
                img {
                    box-shadow: 0 0 0 14px $text-white;
                    transform: scale(0.7);
                }
            }
            .social {
                bottom: 0;
            }
        }

        .title {
            display: block;
            font-size: 15px;
            color: $secondary-color;
            text-transform: capitalize;
        }

        .social {
            width: 100%;
            padding: 0;
            margin: 0;
            background-color: $primary-text;
            position: absolute;
            bottom: -100px;
            left: 0;
            transition: all 0.5s ease 0s;
            li {
                display: inline-block;
                a {
                    display: block;
                    padding: 10px;
                    font-size: 17px;
                    color: $text-white;
                    transition: all 0.3s ease 0s;
                    text-decoration: none;
                    &:hover {
                        color: $primary-text;
                        background-color: $text-white;
                    }
                }
            }
        }
        .team-content{
            padding: 15px;
        }

        .picture {
            display: inline-block;
            height: 130px;
            width: 130px;
            z-index: 1;
            position: relative;
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: $primary-text;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: $primary-text;
                position: absolute;
                bottom: 135%;
                right: 0;
                left: 0;
                opacity: 0.9;
                transform: scale(3);
                transition: all 0.3s linear 0s;
            }
            img {
                width: 100%;
                height: auto;
                border-radius: 50%;
                transform: scale(1);
                transition: all 0.9s ease 0s;
            }
        }
    }
}
#testimonial{
    padding: 60px 0 0 0;
    .testimonial{
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        color: #9e9e9e;
        display: inline-block;
        font-family: 'Roboto', Arial, sans-serif;
        font-size: 16px;
        margin: 35px 10px 10px;
        position: relative;
        text-align: center;
        width: 100%;
        background-color: #ffffff;
        border-radius: 5px;
        border-top: 5px solid $primary-text;
        transition: all 0.1s ease-out;
        blockquote {
            font-style: italic;
            font-weight: 300;
            margin: 0 0 20px;
        }
        figcaption {
            padding: 13% 10% 12%;
            &:before {
                transform: translateX(-50%);
                background-color: #fff;
                border-radius: 50%;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                color: $primary-text;
                content: "\f10e";
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                font-size: 32px;
                left: 50%;
                line-height: 60px;
                position: absolute;
                top: -30px;
                width: 60px;
            }
            h3 {
                color: darken($color: $primary-text, $amount: 9);
                font-size: 20px;
                font-weight: 300;
                line-height: 24px;
                margin: 10px 0 5px;
            }
            h4 {
                font-weight: 400;
                margin: 0;
                opacity: 0.5;
            }
        }
        .slick-dots{
            li{
                background-color: $blurple;
                button{
                    &::before{
                        background-color: $blurple;
                    }
                }
            }
        }
    }
    #client{
        padding: 10px;
        background: $text-white;
        .client-slider{
            padding: 0 10px;
            .slide{
                padding: 20px;
            }
        }
    }
}
#contact{
    padding: 60px 0;
    .form-control {
        padding: 1.3rem 1.5rem;
        color: lighten($color: $blurple, $amount: 9);
        background-color: #ffffff;
        border-color: $text-white;
        &:focus {
            color: $primary-text;
            background-color: #ffffff;
            border: 1px solid $primary-text;
            outline: 0;
            box-shadow: 0 0 5px $primary-text;
        }
    }
    .btn-ami{
        @extend %btn-ami;
        padding: 0.7rem 4rem;
    }
}



footer#footer-area{
    padding: 20px 0 0 0;
    background-color: $blurple;
    background-image: url("../assets/img/maps.png");
    background-size:cover;
    background-repeat:repeat;
    background-attachment:fixed;
    background-position:bottom center;
    position: relative;
    color: #ffffff;
    z-index: 2;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($blurple, $alpha: 0.1);
        z-index: -2;
    }
    .footer-content{
        p{
            font-weight: 400;
            letter-spacing: .1rem;
            span{
                font-weight: 700;
                margin-right: 5px;
            }
        }
    }
    .footer-title{
        padding:5px 0;
        position: relative;
        margin-bottom: 15px;
        &:after{
            content: "";
            position: absolute;
            height: 2px;
            left: 0;
            bottom: -5px;
            width: 60px;
            background-color: $primary-text;
        }
    }
    .footer-nav{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            padding: 5px;
            a{
                color: $text-white;
            }
            &::before{
                font-family: "Font Awesome 5 Free";
                content: '\f101';
                margin:0 5px 0 -15px;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-weight: 700;
            }
        }
    }
    .footer-bottom{
        border-top: 2px solid $primary-text;
        .copyright{
            padding: 5px;
        }
    }
    .social{
        @extend %social-nav;
        text-align: right;
    }
}

   
  /*============ BOOTSTRAP BREAK POINTS:
  
  Extra small (xs) devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap
  
  Small (sm) devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }
  
  Medium (md) devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }
  
  Large (lg) devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }
  
  Extra (xl) large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  
  =============*/



  /*
    Framework Editing
    
    1. hover
    
*/
  .hvr-underline-from-center{
      &::before{
        background: $effect;
      }
  }
  .hvr-ripple-out{
      &::before{
        border: .5px solid $secondary-color;
        border-radius: 50%;
      }
  }